body {
  font-family: "Annie Use Your Telescope";
  font-size: 22px;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.logo {
  height: 60px;
}

.nav-icon {
  height: 35px;
}

.icon {
  height: 30px;
}
.carousel-image{
  height: 600px;
  margin-left: auto;
  margin-right: auto;
}
.carousel-indicators,
.carousel-control-prev,
.carousel-control-next {
  color: #182c61;
  background-color: #CAD3C8
}

.signup-login-Button,
.addToCartButton,
.add-product,
.product-form-btn,
.edit-product {
  background-color: #9aecdb;
  color: #182c61;
  border: none;
  margin: 25px;
  border-radius: 12px;
}

.signup-login-Button:hover,
.addToCartButton:hover,
.add-product:hover,
.product-form-btn:hover,
.edit-product:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  background-color: #58b19f;
}
.edit-product:disabled,
.addToCartButton:disabled {
  background-color: #cad3c8;
  color: #2c3a47;
}

.deleteButton {
  background-color: #B33771;
  color:#CAD3C8;
  border: none;
  margin: 25px;
  border-radius: 12px;
}

.deleteButton:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  background-color:#6D214F;
}
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px rgba(88, 177, 159, 0.24);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0  rgba(88, 177, 159, 0.2);
  border-color: #2c3a47;
}




.card-img-top {
  max-height: 150px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
.single-card { transition: all .2s ease-in-out; }
.single-card:hover { transform: scale(1.2); }

.cart-image{
  max-height: 100px;
  width: auto;
}

.product-detail-image{
  max-height: 500px;
  width: auto;

}

.line-item img {
  max-height: 100px;
  width: auto;

}

.order-list:nth-child(2) {
  border: solid 1px lightgrey;
}

/***************** TEXT ******************/
.no-review-title {
  font-size: 18px;
}

.product-description {
  font-family: "Abel";
  font-size: 18px;
}

.warning {
  /* padding: 0 0.5em; */
  font-size: 15px;
  letter-spacing: 0.1em;
  background-color: #EAB543;
  color: white;
  /* margin-left: 1em; */
}
